<!DOCTYPE HTML>

<head>
    <title> TESTING </title>
</head>

<body>
    <header>
        <div class="title" style="float:left; margin:5px; padding:0px;">
            STOP
            <br> THE BLEED
        </div>
        <div class="title-1" style="float:right; margin:5px; padding:0px;">
            <a href="/how">How</a>
            <a href="/login">Instructor Login</a>
        </div>
    </header>
    <br>
    <div class="forma" style="float:centre;margin-left:20%;padding:5%;">
        <form action="/training/search">
            <input id="mode" placeholder="mode" type="text" />
            <input id="pass" placeholder="city/pincode" type="text" />
            <input id="date" placeholder="date" type="date" />
            <button type="Submit"> search </button>
        </form>
    </div>
</body>